@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Kanit:wght@300&family=Roboto:wght@900&family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Handjet:wght@500&family=Kanit:wght@300&family=Noto+Serif+Vithkuqi&family=Roboto:wght@900&family=Saira+Condensed&display=swap');
h1 {
    font-family: 'Barriecito', cursive;
    text-align: center;
    color: #EFDCCE
}
p {
    font-family: 'Handjet', cursive;
}
html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 10em;
    cursor: url('../images/cursor.png'), auto; 
    /**background-image: linear-gradient(to right, #fc5c7d, #6a82fb);**/
    background: url('/images/sky.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     box-sizing: border-box;
     padding: 0; margin: 0
}
aside h1 {
    color: #EFDCCE; font-size: 2em
}
footer h1 {
    color: #EFDCCE;
}
.connect {
    font-family: 'Barriecito', cursive;color: #EFDCCE;
}
.connect > a {
    display: inline-block;
}

.connect > a:hover {
    background-color: white;
    border: 1px solid black; border-radius: 5px
}

.connect img {
    width: 50px;
    height: 50px
}
.wrapper {
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
}
  
.grid-container {
    display: grid;
    grid-template-areas:
    "header header header header"
    "skills main main main"
    "skills main main main"
    "skills main main main"
    "skills main main main"
    "contact contact contact contact";
    min-height: 80vh;
    margin-top: 4rem;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
  
.grid-item {
    font-size: 1.5rem;
    padding: 1rem;
}
  
.header {
    grid-area: header;
}
  
.main {
    grid-area: main;
    text-align: center;
    color: #EFDCCE
}
  
.skills {
    grid-area: skills;
    border-radius: 20px;
    font-family: 'Handjet', cursive;
    color: #EFDCCE
}
  
.contact{
    grid-area: contact;
    text-align: center;
}

#nav {
    width: 100%;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    /**background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);**/
    background: black
}
.navlist a:hover {
    background: #EFDCCE;
    border-radius: 10px;
    cursor: url('../images/cursor.png'), auto
}
.navlist{
    list-style: none;
    display: flex;
}
  
.navlist a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    color: gray; font-weight: 900;
    font-family: 'Handjet', cursive;
}

input[type=text], textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 20px;
    color: red;
    font-family: 'Andale Mono', monospace
}
button {
    width: 50%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
}

.Card {
    display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto
}
.howdy {
    max-width: 100%;
    width: auto;
    text-align: center;
}
.typingAni {
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid antiquewhite; /**cursor**/
    margin: 0 auto;
    animation: typing 5s steps(40, end), blink 1s step-end infinite;
    color: antiquewhite; 
    font-size: 100px; 
    line-height: 1em;
    display: inline-block;     
}

@keyframes typing {
    from {max-width: 0} to {max-width:100%} /**cursor stops at the end of text, must be max-width**/
    }
    
    @keyframes blink {
    from, to {border-color: transparent} 50% {border-color: antiquewhite} /**blinking cursor**/
    }
.intro {
    max-width: 100%;
    width: auto;
}

.tiger:hover {
    width: 20%; height: 20%;
}

/* mobile - tablet breakpoint */
@media (min-width: 320px) and (max-width: 1199px) {
    html, body {
        scroll-behavior: smooth;
        scroll-padding-top: 10em;
        background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    }
    .card {
        width: 100%;
    }
    .grid-container {
      grid-template-areas:
        'header'
        'main'
        'skills'
        'contact';
    }

    #nav {
        width: 100%;
        height: 100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 1;
        background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
        white-space: nowrap; border-bottom: 2px black solid;
    }
    .navlist{
        list-style: none;
    }
    .navlist a:hover {
        background: #EFDCCE;
        border-radius: 10px;
        border: 5px solid black
    }
    .navlist a {
        display: inline-block;
        padding-left: 15px; padding-top: 20px;
        text-decoration: none;
        color: purple; font-weight: 900;
    }

    .card-img-top{
        height: 100%;
    }
    .skills li{
        display: inline-block;
    }
    .skills li::before {
        content: "| ";
      }
    .skills li:first-child::before {
        content: "";
    }

    img {
        height: 20vh
    }

    .howdy h1 {
        font-size: 100%
    }

    p {
        font-size: 20px
    }

    .main h6 {
        font-size: 10px
    }
    .main {
        text-align: left
    }

    input[type=text], textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        font-size: 20px;
        color: red;
        font-family: 'Andale Mono', monospace
    }
    button {
        width: 100%;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border-radius: 4px;
        cursor: pointer;
        font-size: 20px;
    }
    .tiger {
        width: 100px; height: 100px
    }
}
  